---
import { Icon } from "@/components/react/Icon";
import { cn } from "@/lib/cn";
import { FontSizeLabelsMap, WidthSizeLabelsMap } from "./prose-config";

interface Props {
  class?: string;
  contentClassname?: string;
}

const { class: className, contentClassname } = Astro.props;
---

<div class={cn("dropdown dropdown-bottom sm:dropdown-left", className)}>
  <div
    tabindex="0"
    role="button"
    class="btn btn-ghost btn-sm"
    aria-labelledby="prose-config-label"
    id="prose-config-button"
  >
    <Icon className="text-xl la--cog" />
    <span class="sr-only" id="prose-config-label"> Open text configuration </span>
  </div>
  <ul
    tabindex="0"
    class={cn(
      "dropdown-content z-[1] w-[320px] -sm:w-[150px] -sm:-translate-x-[80px] flex flex-col gap-6 rounded-box mt-4 bg-base-100 p-3 shadow ring-2 ring-primary-content transition-all",
      contentClassname,
    )}
  >
    <li>
      <span class="mb-2 flex items-center gap-2 text-lg"
        ><span class="font-bold"> Text width</span>
        <Icon className="align-middle la--text-width" /></span
      >
      <div class="flex flex-wrap items-center gap-2 -sm:flex-col -sm:items-start">
        {
          Object.entries(WidthSizeLabelsMap).map(([key, label]) => (
            <button data-value={key} class={cn("config-width-btn btn btn-ghost btn-sm")}>
              {label}
            </button>
          ))
        }
      </div>
    </li>

    <li>
      <span class="mb-2 flex items-center gap-2 text-lg"
        ><span class="font-bold"> Font size</span>
        <Icon className="align-middle fluent--text-font-size-20-regular" />
      </span>
      <div class="flex flex-wrap items-center gap-2 -sm:flex-col -sm:items-start">
        {
          Object.entries(FontSizeLabelsMap).map(([key, label]) => (
            <button data-value={key} class={cn("config-fontSize-btn btn btn-ghost btn-sm")}>
              {label}
            </button>
          ))
        }
      </div>
    </li>
  </ul>
</div>

<script>
  const widthButtons = document.querySelectorAll(
    ".config-width-btn",
  ) as NodeListOf<HTMLButtonElement>;
  for (const btn of widthButtons) {
    btn.addEventListener("click", () => {
      const value = btn.dataset.value;
      document.documentElement.dataset.config_width = value;
    });
  }

  const fontSizeButtons = document.querySelectorAll(
    ".config-fontSize-btn",
  ) as NodeListOf<HTMLButtonElement>;
  for (const btn of fontSizeButtons) {
    btn.addEventListener("click", () => {
      const value = btn.dataset.value;
      document.documentElement.dataset.config_fontSize = value;
    });
  }
</script>

<style is:global>
  html[data-config_width="sm"] {
    --article-width: 45rem;

    .config-width-btn[data-value="sm"] {
      @apply btn-active;
    }
  }

  html[data-config_width="def"] {
    --article-width: 50rem;

    .config-width-btn[data-value="def"] {
      @apply btn-active;
    }
  }

  html[data-config_width="lg"] {
    --article-width: 65rem;

    .config-width-btn[data-value="lg"] {
      @apply btn-active;
    }
  }

  html[data-config_font-size="sm"] {
    .article-body {
      @apply prose-h2:text-3xl prose-h3:text-2xl;
    }

    .config-fontSize-btn[data-value="sm"] {
      @apply btn-active;
    }
  }

  html[data-config_font-size="def"] {
    .article-body {
      @apply prose-lg prose-h2:text-4xl prose-h3:text-3xl;
    }

    .config-fontSize-btn[data-value="def"] {
      @apply btn-active;
    }
  }

  html[data-config_font-size="lg"] {
    .article-body {
      @apply prose-2xl prose-h2:text-6xl prose-h3:text-5xl;
    }

    .config-fontSize-btn[data-value="lg"] {
      @apply btn-active;
    }
  }
</style>
