---
import SocialLinks from "@/components/astro/index/SocialLinks.astro";
import { Icon } from "@/components/react/Icon";
---

<section class="box card">
  <div class="card-content flex items-start gap-2">
    <div class="flex flex-col gap-2">
      <h2 class="text-3xl font-extrabold">Welcome to my place 🛋️</h2>
      <p>
        <span>
          Here I write about my favorite programming language <span title="TypeScript">
            &lcub; <Icon className="iconify-color translate-y-[2px] logos--typescript-icon" />
          </span> TypeScript&rcub;, drop some bedtime thoughts on life, and sometimes make educative
          content.
        </span>
        <div class="items-center gap-2 sm:flex">
          You can find me here: <SocialLinks />
        </div>

        <span class="sm:inline"
          >Hope you will rest well <Icon
            className="align-middle text-3xl text-primary game-icons--sunflower"
          /></span
        >
      </p>
    </div>
    <div class="h-full">
      <svg
        class="h-[280px] w-[110px] md:h-[320px] md:min-w-[220px] xs:w-[160px]"
        id="flower"
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="190.000000pt"
        height="280.000000pt"
        viewBox="0 0 190.000000 280.000000"
        preserveAspectRatio="xMidYMid meet"
      >
        <g
          class="fill-primary"
          transform="translate(0.000000,280.000000) scale(0.100000,-0.100000)"
          stroke="none"
        >
          <path
            d="M410 2745 l0 -55 -50 0 -50 0 0 -50 0 -50 -50 0 -50 0 0 -100 0 -100
50 0 50 0 0 -100 0 -100 -100 0 -100 0 0 -50 0 -50 -55 0 -55 0 0 -150 0 -150
55 0 55 0 0 -50 0 -50 50 0 50 0 0 -50 0 -50 50 0 50 0 0 -50 0 -50 -50 0 -50
0 0 -50 0 -50 50 0 50 0 0 -50 0 -50 100 0 100 0 0 -50 0 -50 100 0 100 0 0
50 0 50 50 0 50 0 0 -400 0 -400 -50 0 -50 0 0 -50 0 -50 -50 0 -50 0 0 -50 0
-50 -50 0 -50 0 0 -50 0 -50 50 0 50 0 0 50 0 50 100 0 100 0 0 100 0 100 50
0 50 0 0 400 0 400 50 0 50 0 0 -350 0 -350 50 0 50 0 0 -100 0 -100 50 0 50
0 0 -50 0 -50 100 0 100 0 0 -50 0 -50 50 0 50 0 0 50 0 50 -50 0 -50 0 0 50
0 50 -100 0 -100 0 0 100 0 100 -50 0 -50 0 0 350 0 350 100 0 100 0 0 50 0
50 150 0 150 0 0 50 0 50 50 0 50 0 0 100 0 100 -50 0 -50 0 0 50 0 50 100 0
100 0 0 100 0 100 45 0 45 0 0 150 0 150 -45 0 -45 0 0 50 0 50 -100 0 -100 0
0 100 0 100 -50 0 -50 0 0 50 0 50 -150 0 -150 0 0 55 0 55 -100 0 -100 0 0
-55 0 -55 -50 0 -50 0 0 55 0 55 -250 0 -250 0 0 -55z m500 -255 l0 -200 -50
0 -50 0 0 50 0 50 -50 0 -50 0 0 -100 0 -100 -100 0 -100 0 0 -50 0 -50 50 0
50 0 0 -50 0 -50 -50 0 -50 0 0 -50 0 -50 50 0 50 0 0 -50 0 -50 100 0 100 0
0 -50 0 -50 50 0 50 0 0 50 0 50 100 0 100 0 0 50 0 50 100 0 100 0 0 50 0 50
-100 0 -100 0 0 50 0 50 50 0 50 0 0 50 0 50 -50 0 -50 0 0 50 0 50 -50 0 -50
0 0 200 0 200 100 0 100 0 0 -50 0 -50 150 0 150 0 0 -100 0 -100 50 0 50 0 0
-50 0 -50 100 0 100 0 0 -100 0 -100 -50 0 -50 0 0 -100 0 -100 -50 0 -50 0 0
-50 0 -50 -50 0 -50 0 0 -50 0 -50 50 0 50 0 0 -100 0 -100 -150 0 -150 0 0
-50 0 -50 -150 0 -150 0 0 150 0 150 -50 0 -50 0 0 -150 0 -150 -100 0 -100 0
0 -50 0 -50 -100 0 -100 0 0 50 0 50 -100 0 -100 0 0 50 0 50 50 0 50 0 0 50
0 50 50 0 50 0 0 50 0 50 -150 0 -150 0 0 50 0 50 -50 0 -50 0 0 150 0 150
100 0 100 0 0 50 0 50 100 0 100 0 0 50 0 50 -50 0 -50 0 0 50 0 50 -50 0 -50
0 0 100 0 100 50 0 50 0 0 50 0 50 250 0 250 0 0 -200z m100 -400 l0 -100 -50
0 -50 0 0 -50 0 -50 -100 0 -100 0 0 100 0 100 50 0 50 0 0 50 0 50 100 0 100
0 0 -100z"
          ></path>
          <path
            d="M1110 2340 l0 -50 50 0 50 0 0 -50 0 -50 100 0 100 0 0 50 0 50 50 0
50 0 0 50 0 50 -50 0 -50 0 0 -50 0 -50 -100 0 -100 0 0 50 0 50 -50 0 -50 0
0 -50z"
          ></path>
          <path d="M1310 1840 l0 -50 100 0 100 0 0 50 0 50 -100 0 -100 0 0 -50z"></path>
          <path d="M510 1740 l0 -50 50 0 50 0 0 50 0 50 -50 0 -50 0 0 -50z"></path>
          <path d="M1110 1740 l0 -50 50 0 50 0 0 50 0 50 -50 0 -50 0 0 -50z"></path>
          <path d="M710 1640 l0 -50 50 0 50 0 0 50 0 50 -50 0 -50 0 0 -50z"></path>
        </g>
      </svg>
    </div>
  </div>
</section>
