---
import { Icon } from "@/components/react/Icon";
import type { CollectionEntry } from "astro:content";
import PostCard from "../posts/PostCard.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<section class="box mt-8 flex flex-1 flex-col gap-4 lg:mt-4">
  <h2 class="font-caveat text-2xl">
    Check out my latest post! <Icon className="align-middle la--arrow-down" />
  </h2>
  <PostCard entry={post} />

  <a href="/blog" class="btn btn-outline btn-primary mx-auto w-fit">More blog posts </a>
</section>
