---
import { Icon } from "@/components/react/Icon";
import type { CollectionEntry } from "astro:content";
import PostCard from "../posts/PostCard.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
  remaining: number;
}

const { posts, remaining} = Astro.props;
---

<section class="box mt-8 flex flex-col  lg:mt-4">
  <h2 class="text-xl font-bold">const latestPosts = <span class="text-3xl">[</span></h2>
  <ul class="min-h-[150px] flex flex-col gap-2 py-3">
    {
      posts.map((post) => (
        <li>
          <PostCard post={post} />
        </li>
      ))
    }
    <li class="text-3xl font-bold">
      ]
    </li>
  </ul>

  {remaining > 0 && <a href="/blog" class="btn btn-outline btn-primary mx-auto w-fit"
  ><Icon className="text-xl la--book-open" /> morePosts({remaining}) {}
</a>}
</section>
