---
import { Icon } from "../preact/Icon";
---

<footer id="footer" class="box mt-9 flex w-full items-center justify-between gap-2 p-3">
  <aside>
    <p>Copyright © {new Date().getFullYear()} - All right reserved</p>
  </aside>
  <nav>
    <a href="/rss.xml" class="btn btn-outline btn-primary btn-sm" aria-labelledby="rss-btn-label">
      <Icon className="text-2xl line-md--rss" />
      <span id="rss-btn-label" class="sr-only">Opens RSS feed xml page</span>
    </a>
  </nav>
</footer>
