pre {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px;

  .highlighted {
    background-color: red;
  }
}

html {
  height: 100%;
}

html,
body {
  width: 100%;
}

body {
  min-height: 100%;
  @apply px-3 md:px-0;
}
