---
import { CONFIG, IconSet } from "config";
import AppIcon from "../AppIcon.astro";
---

<button
  class="btn btn-sm btn-ghost"
  onclick={`document.getElementById("${CONFIG.SEARCH_MODAL_ID}").showModal()`}
  aria-labelledby="search-btn-label"
>
  <AppIcon set={IconSet.LINE_MD} name="search" class="text-xl" />
  <span id="search-btn-label" class="sr-only">
    Opens dialog window for global article search
  </span>
</button>
