---
import { Icon } from "@/components/react/Icon";
import { CONFIG } from "config";
---

<button
  class="btn btn-ghost btn-sm"
  onclick={`document.getElementById("${CONFIG.SEARCH_MODAL_ID}").showModal()`}
  aria-labelledby="search-btn-label"
  id="search-trigger"
>
  <Icon className="text-xl line-md--search" />
  <span id="search-btn-label" class="sr-only"> Opens dialog window for global article search </span>
</button>
