---
import { ThemeDropdown } from "@/components/react/ThemeDropdown";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout title="Welcome to Astro." description="Welcome to the Astro blog.">
  <div class="dark:bg-red-500">123</div>
  <div class="m-8">
    <ThemeDropdown client:load />
  </div>
  <div class="h-[100000px] w-[1px]"></div>
  <!--
    {posts.map((post) => (
      <article>
        <h2>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </h2>
        <p>{post.data.description}</p>
      </article>
    ))}
    --
  >
  </div>
</Layout>
--></Layout
>
