---
import { Icon } from "@/components/react/Icon";
import { formatDate } from "@/lib/date";
import type { CollectionEntry } from "astro:content";
import PostInfoTag from "./PostInfoTag.astro";

interface Props {
  post: CollectionEntry<"posts">;
  readingTime: string;
  imgUrl: string;
}

const { post, readingTime, imgUrl } = Astro.props;
---

<div class="mx-auto flex w-full flex-col items-start justify-center gap-2">
  <PostInfoTag
    class="!rounded-none py-1"
    id="views-badge"
    data-slug={post.slug}
    className="fluent--eye-lines-20-regular"
  >
    <span id="views-count" class="font-bold">
      <Icon className="animate-spin text-xs fluent--spinner-ios-20-regular" />
    </span>
    <span> views</span>
  </PostInfoTag>

  <PostInfoTag className="fluent--calendar-20-regular">
    Published at: <b>{formatDate(post.data.date)}</b>
  </PostInfoTag>

  <PostInfoTag className="fluent--reading-list-20-regular">
    Reading time: <b>{readingTime}</b>
  </PostInfoTag>

  <PostInfoTag
    as="a"
    href={imgUrl}
    class="hidden fluent--image-20-regular visited:text-base-content -sm:flex"
    className="fluent--image-20-regular"
    target="_blank"
  >
    Click here to open image in another tab
  </PostInfoTag>
</div>

<script>
  import { postsApi } from "@/lib/api";

  function main() {
    const badge = document.querySelector("#views-badge") as HTMLElement;
    const count = document.querySelector("#views-count");

    if (!count || !badge) return;

    const slug = badge.dataset.slug!;

    postsApi
      .getPost(slug)
      .then(({ post }) => {
        count.textContent = String(post.views);

        const cat = document.getElementById("cat-count") as HTMLElement | undefined;
        if (!cat) return;
        cat.textContent = String(post.likes);
      })

      .catch(() => {
        count.textContent = "1337";
      });
  }

  main();
</script>
