---
import { IconSet } from "config";
import AppIcon from "../AppIcon.astro";

interface Props {
  next?: string | undefined;
  prev?: string | undefined;
}

const { next, prev } = Astro.props;
---

<div class="box mt-12 flex flex-col gap-2">
  <slot name="title" />

  <a href={next} class="link">
    <slot name="next" />
    <AppIcon
      set={IconSet.LINE_MD}
      class="arrow-left rotate-90"
      name="arrow-up"
    />
  </a>

  <a href={prev} class="link">
    <AppIcon
      set={IconSet.LINE_MD}
      class="arrow-right -rotate-90"
      name="arrow-up"
    />
    <slot name="prev" />
  </a>
</div>

<style lang="postcss">
  .link {
    @apply btn btn-md w-full btn-outline disabled:btn-ghost disabled:pointer-events-none disabled:cursor-not-allowed;

    [data-icon] {
        @apply transition-all duration-500;
    }

    &:hover .arrow-right {
      @apply -translate-x-2;
    }

    &:hover .arrow-left {
      @apply translate-x-2;
    }
    

    &:not(:link) {
      @apply opacity-50  pointer-events-none;
    }
  }
</style>
