---
import { Icon } from "@/components/react/Icon";
import { cn } from "@/lib/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {
  className?: string;
}

const { class: wrapperClassName, className, ...props } = Astro.props;
---

<span
  class={cn(
    "flex text-lg  pb-2 border-b-[0.5px] border-b-base-content rounded-none w-full items-center gap-2",
    wrapperClassName,
  )}
  {...props}
>
  <Icon className={cn("text-3xl", className)} />
  <slot />
</span>
