---
import { Icon } from "@/components/solid/Icon";

interface Props {
  next?: string | undefined;
  prev?: string | undefined;
}

const { next, prev } = Astro.props;
---

<div class="box mt-12 flex flex-col gap-2">
  <slot name="title" />

  <a href={next} class="link">
    <slot name="next" />
    <Icon className="arrow-right line-md--arrow-right" />
  </a>

  <a href={prev} class="link">
    <Icon className="arrow-left line-md--arrow-left" />
    <slot name="prev" />
  </a>
</div>

<style lang="postcss">
  .link {
    @apply btn btn-md w-full btn-outline disabled:btn-ghost disabled:pointer-events-none disabled:cursor-not-allowed;
 
   .iconify {
        transition: color 0.2s, transform 0.5s;
    }

    &:hover .arrow-right {
      @apply translate-x-2;
    }

    &:hover .arrow-left {
      @apply -translate-x-2;
    }
    

    &:not(:link) {
      @apply opacity-50  pointer-events-none;
    }
  }
</style>
