---

---

<button id="cat-highlighter" class="btn btn-sm inline-block"> Click here </button>

<script is:inline>
  const catHighligher = document.querySelector("#cat-highlighter");
  catHighligher?.addEventListener("click", () => {
    const catButton = document.querySelector("#cat-button");

    let classes = window.matchMedia("(prefers-reduced-motion)").matches
      ? ["ring-2", "ring-red-500"]
      : [
          "ring-2",
          "ring-red-500",
          "scale-[3]",
          "-translate-x-[60px]",
          "translate-y-[120px]",
          "bg-base-100",
        ];

    catButton?.classList.add(...classes);

    const sound = new Audio("/sounds/cat.mp3");
    sound.play();
    setTimeout(() => {
      catButton?.classList.remove(...classes);
    }, 2500);
  });
</script>
