---

---

<button id="cooking-up-highligher" class="btn btn-sm inline-block">
  this little button
</button>

<script>
  const highlighter = document.querySelector("#cooking-up-highligher");

  highlighter?.addEventListener("click", () => {
    const button = document.querySelector("#scroll-top-btn");

    if (window.matchMedia("(prefers-reduced-motion)").matches) {
      const classes = ["ring-2", "ring-red-500"];
      button?.classList.add(...classes);
      setTimeout(() => {
        button?.classList.remove(...classes);
      }, 2500);
      return;
    }

    const classes = [
      "visible",
      "ring-2",
      "ring-red-500",
      "!scale-[4]",
      "-translate-x-[100px]",
      "!-translate-y-[100px]",
    ];

    button?.classList.add(...classes);
    setTimeout(() => {
      button?.classList.remove(...classes);
    }, 2500);
  });
</script>
