---
import { Icon } from "@/components/preact/Icon";
import { cn } from "@/lib/cn";
import type { MarkdownHeading } from "astro";
import type { HTMLAttributes } from "astro/types";
import TocItem from "./TocItem.astro";
import { type TocHeading } from "./toc.types";

interface Props extends HTMLAttributes<"aside"> {
  headings: MarkdownHeading[];
  class?: string;
}

const { headings, class: className, ...props } = Astro.props;

function buildToc(headings: MarkdownHeading[]): TocHeading[] {
  const toc: TocHeading[] = [];
  const stack: TocHeading[] = [];

  headings.forEach((h) => {
    const heading = {
      ...h,
      children: [],
    } satisfies TocHeading;

    while (stack.length > 0 && stack[stack.length - 1].depth >= heading.depth) {
      stack.pop();
    }

    if (stack.length === 0) {
      toc.push(heading);
    } else {
      stack[stack.length - 1].children?.push(heading);
    }

    stack.push(heading);
  });

  return toc;
}

const toc = buildToc(headings.filter((h) => h.depth !== 1));
---

<aside {...props} class={cn("z-[120] ", className)} id="toc">
  <button id="toc-close-btn" aria-labelledby="toc-close-btn-label">
    <Icon className="toc-close-icon toc-close-icon--close line-md--close" />
    <Icon className="toc-close-icon toc-close-icon--open line-md--list" />
    <span class="sr-only">Open table of contents</span>
  </button>

  <div
    class="ring-3 peer absolute origin-top-left rounded-box bg-base-100 shadow-md shadow-primary backdrop-blur-xl transition-all"
    id="toc-inner"
    data-open="false"
  >
    <ul
      class="custom-scrollbar menu menu-xs max-h-[60vh] w-full max-w-[90vh] flex-nowrap overflow-auto p-2 lg:max-w-[340px]"
    >
      {toc.map((heading, index) => <TocItem heading={heading} index={index} />)}
    </ul>
  </div>
</aside>

<style>
  #toc-inner[data-open="false"] {
    @apply opacity-0 scale-0 z-[120];
  }

  #toc-close-btn {
    @apply bg-base-100 transition-all p-0 border-primary btn-ghost btn btn-sm w-10 h-10 flex items-center justify-center rounded-full;
    @apply hover:border-primary hover:bg-primary hover:text-primary-content focus:outline-none focus:ring-2 focus:ring-primary;

    &:has(~ #toc-inner[data-open="false"]) {
      & .toc-close-icon--open {
        @apply opacity-100;
      }

      & .toc-close-icon--close {
        @apply opacity-0;
      }
    }

    & .toc-close-icon--open {
      @apply opacity-0;
    }

    .toc-close-icon {
      @apply text-2xl absolute;

      &.toc-close-icon--close {
      }

      &.toc-close-icon--open {
      }
    }
  }
</style>

<script>
  function main() {
    const closeButton = document.querySelector("#toc-close-btn")!;
    const toc = document.querySelector("#toc-inner")! as HTMLElement;

    closeButton.addEventListener("click", () => {
      toc.dataset.open = toc.dataset.open === "true" ? "false" : "true";
    });

    toc.addEventListener("focusout", function (event) {
      if (
        // We are still inside the dialog so don't close
        toc.contains(event.relatedTarget as any) ||
        // We have switched to another tab so probably don't want to close
        !document.hasFocus()
      ) {
        return;
      }
      toc.dataset.open = "false";
    });

    document.addEventListener("click", function (event) {
      if (
        toc.contains(event.target as any) ||
        event.target === closeButton ||
        closeButton.contains(event.target as any)
      ) {
        return;
      }
      toc.dataset.open = "false";
    });
  }

  main();
</script>

<script>
  function main() {
    if (!window.matchMedia("(min-width: 1024px)").matches) return;

    const links = document.querySelectorAll(
      "#toc-inner a[href^='#']",
    ) as NodeListOf<HTMLAnchorElement>;

    for (const link of links) {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const target = document.getElementById(link.getAttribute("href")!.slice(1));

        target?.scrollIntoView({
          behavior: "smooth",
          block: "start",
        });

        if (window.matchMedia("(max-width: 767px)").matches) {
          const tocInner = document.getElementById("toc-inner");
          if (!tocInner) return;
          tocInner.dataset.open = "false";
        }
      });
    }

    const header = document.querySelector("header");
    const headerHeight = header ? header.offsetHeight : 0;

    const observer = new IntersectionObserver(
      (sections) => {
        sections.forEach((section) => {
          const heading = section.target.querySelector("h2, h3, h4, h5, h6");
          if (!heading) return;

          const id = heading.getAttribute("id");
          const link = document.querySelector(`#toc li a[href="#${id}"]`);
          if (!link) return;

          link.classList[section.isIntersecting ? "add" : "remove"]("seeing");
        });
      },
      {
        rootMargin: `-${headerHeight}px 0px 0px 0px`,
      },
    );

    const sections = document.querySelectorAll(".prose section");
    sections.forEach((section) => {
      observer.observe(section);
    });
  }

  main();
</script>
